/*!
 * Resilience Academy

 * Custom CSS

 * Copyright 2019
 * https://resilienceacademy.ac.tz
 */
 
section.custom-partners {
  padding-top: 2em;
}

footer.custom-footer {
    background: white;
    border-top: 1px solid black;
    color: black;
}

footer img.footer-img {
    height: 50px;
}

div.item-details p.abstract {
    height: 88px;
    overflow: hidden;
}

div.item-details h4 {
    height: 47px;
    overflow: hidden;
}

div.custom-search {
    padding-top: 10px;
}

body {
    /* background: #333333; */
    background: white;
}

.home .navbar-inverse , .navbar-inverse {
    background-color: #0075b7;
}

body div.container div.navbar-header a.navbar-brand {
    background-image: url(/uploaded/img/2019/08/RA-Shield_Horizantal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.home .jumbotron {
    background-color: #2c689c
}

.home .jumbotron .container {
    position: relative;
    z-index: 1;
}
.home .jumbotron:after {
    content: "";
    background-image: url(/uploaded/img/2019/06/Zanzibar_Mapping_Initiative_3min_updated_27Feb2017.00_01_34_05.Still019.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-size: 100%;
    height: 700px;
    opacity: 0.5;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.footer-copyright {
    background-color: #0075b7;
}
