/*!
 * Resilience Academy

 * Custom CSS

 * Copyright 2019
 * https://resilienceacademy.ac.tz
 */
 
section.custom-partners {
  padding-top: 2em;
}

section.custom-raactivitites {
    padding-top: 2em;
    background-color: #2c689c;
    background: #2c689c ;
  }

  .text-ra {
    color: #ffffff;
  }

footer.custom-footer {
    background: white;
    border-top: 1px solid black;
    color: black;
}

footer img.footer-img {
    height: 50px;
}

div.item-details p.abstract {
    height: 88px;
    overflow: hidden;
}

div.item-details h4 {
    height: 47px;
    overflow: hidden;
}

div.custom-search {
    padding-top: 10px;
}

body {
    /* background: #333333; */
    background: white;
}

.home .navbar-inverse , .navbar-inverse {
    background-color: #0075b7;
}

body div.container div.navbar-header a.navbar-brand {
    background-image: url(../img/RA-Shield_Horizantal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.home .jumbotron {
    background-color: #2c689c
}

.home .jumbotron .container {
    position: relative;
    z-index: 1;
}
.home .jumbotron:after {
    content: "";
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* background-size: 100%; */
    height: 900px;
    opacity: 0.5;    
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.home .jumbotron h1 {
    text-shadow: 4px 3px 3px #000000;
}

.home .jumbotron p {
    text-shadow: 2px 4px 4px #000000;
}


/* Showcase is the container below jumbotron */
body.home div#wrap section#showcase {
    background-color: #007CC3;
}

body.home div#wrap section#showcase a {
    color: white;
}

.footer-copyright {
    background-color: #0075b7;
}

.home .big-search {
    /* background: #333333; */
    background:transparent;
    color: white;
    padding-bottom: 0;
    padding-top: 0; 
  }

  .home #showcase {
    background: #eeeeee;
    margin-top: 30px;
    /* padding: 20px 0; */
    text-align: center;
  }

  .home .custom-ramessage
  {
    background: white;
    color: white;
    padding-bottom: 2em;
    padding-top: 3em; 
  }

  .home .custom-blogs
  {
    background: #CCCCCC;
    color: white;
    padding-bottom: 2em;
    padding-top: 3em; 
  }

  .text-ramessage {
    color: black;
  }